block header
    head
        block header__title
            title Library with Pug
        block header__static
            link(rel="stylesheet" href="/styles/app.css" type="text/css")
    body
        .wrapper
            h1 Welcome to our Library
            div.main-menu
                ul
                    block header__active-page
                        a( href="/")
                            li( class="active" ) Home
                        a( href="/admin/new-book")
                            li New Book
            div.error-message#error-message
            block body
        .footer
            h1 Footer