.main-menu li {
    display:         inline-block;
    list-style-type: none;
    padding: 10px 20px;
}

.main-menu .active {
    background-color: yellow;
}

table.all-books {
    border: 1px solid black;
    border-collapse: collapse;
}

.all-books th, .all-books td {
    border: 1px solid black; 
    padding: 10px 20px;
}